html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #222;
}
body * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  background-color: #181818;
}
header + section {
  padding-top: 7%;
}
section {
  position: relative;
  width: 100%;
  padding: 24px 0;

}
.container {
  position: relative;
  display: block;
  width: 960px;
  max-width: 90%;
  height: 100%;
  margin: 0 auto;

}

#home {
  position: relative;
  height: 100%;
  background: url('images/fruum-hero-bg01.jpg') top right #F5003A no-repeat;
  background-size: cover;
  color: #fff;
  padding-bottom: 0;
}

#home > .container {
  padding-top: 5%;
}

#home h1 {
  font-family: Helvetica;
  font-size: 40px;
  line-height: 50px;
  font-weight: normal;
  text-shadow: 0 0 5px rgba( 0, 0, 0, 0.2 );
  margin-bottom: 40px;
}

#home h3 {
  font-family: Arial;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
  text-shadow: 0 0 10px rgba( 255, 255, 255, 0.2 );
}

#home .runner {
  position: absolute;
  left: 0;
  bottom: 80px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  min-height: 40px;
  text-align: center;
}

#home .home-next {
  color: rgba( 255, 255, 255, 0.6 );
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 32px;
  text-align: center;
  bottom: 10px;
  left: 50%;
  margin-left; -20px;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
}

#home .home-next:hover {
  color: #fff;
  bottom: 0;
}

.logo {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  width: 140px;
  background: url('images/fruum-logo.png') center center transparent no-repeat;
}

.menu {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menuitem {
  position: relative;
  float: left;
  height: 100%;
}

.menu-right {
  float: right;
  margin-top: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.menuitem a {
  display: block;
  color: #fff;
  padding: 20px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 2px rgba( 0, 0, 0, 0.2 );
}

.menuitem a:hover {
  background-color: rgba( 0, 0, 0, 0.05 );
  text-shadow: 0 0 10px rgba( 255, 255, 255, 0.8 );
}



a {
  color: #F5003A;
}

a.read-more {
  color: #F5003A;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover.read-more {
  text-decoration: underline;
}



.main-link {
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

.main-link:not(.read-more):hover {
  background-color: rgba( 255, 255, 255, 0.1 );
  text-shadow: 0 0 5px rgba( 255, 255, 255, 0.4 );
}

.read-more.main-link {
  border-color: #F5003A;
}

.read-more.main-link:hover {
  background-color: #F5003A;
  color: #fff;
  text-decoration: none;
}



h2.main-descriptor {
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #666;
  margin-top: 60px;
  margin-bottom: 60px;
}



.features-set {
  position: relative;
  width: 100%;
  list-style-type: none;
  padding: 40px 0;
  margin: 0;
}

.features-set:after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}

.features-set .feature-item {
  position: relative;
  display: block;
  width: 33.333%;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  height: 250px;
  margin-bottom: 20px;
}

.features-set .feature-promo {
  width: 20%;
  float: left;
  min-width: 170px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}



.feature-item .feature-icon {
  text-align: center;
  padding-bottom: 20px;
  font-size: 48px;
  color: #555;
}

.feature-item .feature-description {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: #333;
  height: 90px;
}




.disclaimer {
  font-size: 14px;
  line-height: 20px;
  color: #555;
}


#final-promo {
  background-color: #222;
}

#final-promo .main-descriptor {
  color: #eee;
}


@media (max-width: 1024px ) {
  section {
    text-align: center;
  }

  h2.main-descriptor {
    padding: 0.5em 0;
    line-height: 2;
  }

  .features-set .feature-item {
    width: 100%;
  }

  .feature-item .feature-description {
    height: auto;
  }
}
